

input[type=text], input[type=password] {
    width: 25%;
    padding: 10px 10px 10px 10px;
    margin-top: auto;
    background: #f1f1f1;
    border: none;
}
.personIn {
    display: none;
    overflow: none;
    color: black;

}
#glist{
  background-color: #0079a6;
  border: 1px solid #2a2825;
  border-radius: 12px;
  font-size: 20px;
  color: white;
  padding: 20px 20px;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
  width: 50%;
  float: left;
  opacity: 1;
}

#newGroup{
  display: none;
  position: absolute;
  width: 100%;


}
#newGName{
  width: 40%;
}

#addGbutton{
  background-color: #0079a6;
  border: 1px solid #2a2825;
  border-radius: 12px;
  font-size: 20px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
  width: 15%;
}
#addGbutton:hover{
  background-color: #2a2825;
}

#cancel{
  background-color: #0079a6;
  border: 1px solid #2a2825;
  border-radius: 12px;
  font-size: 20px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
  width: 20%;
}
#cancel:hover{
  background-color: #2a2825;
}

#addGroup {
    width: 15%;
    float: left;
}

#all {
    width: 60%;
    margin: auto;
    height: 60%;
    position: relative;
    opacity: .9;
}

#editGroup {
    width: 15%;
}


#exit {
    width: 15%;
    float: right;
}

#contactlist{
  width: 100%;
  background-color: gray;
  position: absolute;
  text-align: center;
}
thead{
  margin: auto;
  width: 25%;
  border: black;
}